# 配置版本，请勿修改
version: 2.5.3


# CloudFlare Workers AI 配置
cloudflare:

  # CloudFlare Workers AI API 密钥，FancyHelper会自动根据密钥来获取对应的account-id
  cf_key: "maF_cBg4UXnWgTaE8t8tdAq-iGZ5osv6CHxm2nH0"

  # 使用的模型名称，不推荐更改，可以是任何一个Text-Generation模型，默认gpt-oss-120b（最聪明）
  model: "@cf/openai/gpt-oss-120b"


# 插件设置
settings:

  # CLI 模式会话的自动过期时间 （以分钟为单位）
  timeout_minutes: 10

  # Token（字符数）剩余警告阈值
  token_warning_threshold: 100

  # 是否启用匿名错误上报，帮助开发者改进插件
  auto_report: true  

  # 是否启用自动更新检查
  check_update: true  

  # 是否在管理员进入服务器时提示更新
  op_update_notify: true 

  # 是否在检测到新版本时自动下载并安装更新
  auto_upgrade: true  

  # GitHub 镜像源，用于加速下载
  update_mirror: "https://ghproxy.net/"  
